In [1]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_c5cb61fad78e4ab48122a8370a412196 = 'https://s3.us.cloud-object-storage.appdomain.cloud'
else:
    endpoint_c5cb61fad78e4ab48122a8370a412196 = 'https://s3.private.us.cloud-object-storage.appdomain.cloud'

client_c5cb61fad78e4ab48122a8370a412196 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='6DW0I1bkhy1TVa_3FG9F8L_qvPSW_I-DCmIfI49-XE0G',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_c5cb61fad78e4ab48122a8370a412196)

body = client_c5cb61fad78e4ab48122a8370a412196.get_object(Bucket='courseraibm-donotdelete-pr-vu5tbavc37nuuo',Key='Notas_Atividade2-Modulo2.xlsx')['Body']

df_data_0 = pd.read_excel(body.read())
df_data_0.head()

,Unnamed: 0,Exercicio 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Exercicio 2,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,ATIVIDADES,criterio 1,criterio 2,criterio 3,criterio 4,criterio 1,criterio 2,criterio 3,criterio 4,criterio 5,criterio 6,PORCENTAGEM,NOTA,NaN,NaN,0.1,NaN
1,ABNER DA SILVA TAVARES,10,10,10,5,10,10,10,10,10,5,90,0.45,NaN,NaN,0.5,NaN
2,ARTUR ROZA CAMPOS,10,10,10,10,10,10,10,10,10,10,100,0.5,NaN,NaN,0,NaN
3,BENJAMIM F D S NETO,10,10,10,10,X,X,X,X,X,X,40,0.2,NaN,NaN,NaN,NaN
4,BRUNO AZEVEDO DIAS PAES,10,10,10,10,10,10,10,10,10,10,100,0.5,NaN,criterio 1,Classe Pai VeiculoAVenda,NaN